@model FinalProject.Models.Equipment

<h2>Are you sure you want to delete this?</h2>

<div>
    <h4>@Model.Name</h4>
    <p>@Model.Description</p>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="EquipmentId" />
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>
