@{
    ViewBag.Title = "My Story";
}
<div class="text-center">
    <h2>My Story</h2>
    <p>I've been playing guitar for a year as of the day after Thanksgiving, which is a big deal, and I'll explain why.
        I've enjoyed music since I was at a very young age. One of my first memories of music was my dad playing Rush's
        Moving Pictures for me on the way to pre-school. I was hooked as soon as I heard 'Tom Sawyer' for the first
        time, and it still sounds just as good today. Some of my other childhood bands include Queen, Van Halen,
        Electric Light Orchestra. I explored a pretty wide variety of music throughout my childhood but always seemed to
        come back to classic rock.</p>
    <p>I took piano lessons from ages 7-12 and performed at countless recitals and competitions. Having that kind of
        instruction from a young age has certainly had a huge impact on me and has helped me with learning guitar. I
        stopped taking piano lessons when I turned 12, which was also the year I really started to listen to more rock
        music and less top 40. The decision to stop piano was certainly related as I noticed my passion for music was
        not as strong when I was playing the piano as when I was listening to my favorite bands. I quit taking lessons
        and started learning some of my favorite rock songs on the piano, mainly songs by Muse and Green Day.</p>
    <p>When I turned 14, I started taking guitar lessons, but it did not last long, as I was unmotivated for some
        reason. I went another five years before I really touched an instrument again. When I was in college, there was
        a point where I had become depressed. I realized I did not have any hobbies that came from within, hobbies that
        did not involve consuming something, whether it be food, drugs, media. I started to fiddle on the piano again
        and eventually learned some new songs.</p>
    <p>About a year later, I met a friend, Sam, who was very good at the guitar. One time we were hanging out, and he
        takes out his guitar. We were talking about a band called Queens of the Stone Age, specifically a song called
        '3s & 7s.' The riff in this song was one of my favorites, and without even thinking about it, my friend Sam
        starts shredding it on his guitar. I was so impressed, and at that moment, something inside me told me: 'I have
        to learn how to do this.' So I went home for Thanksgiving break and started fiddling with my dad's acoustic
        (he's tried to learn in past and
        can play a few songs but does not play often). I took it back with me to school, and by Christmas
        break, I had learned 'Limelight' by Rush. After the New Year, I swapped the acoustic out for my dad's ratty
        electric. For three solid months, I played the heck out of that thing. I was probably playing for at least three
        hours every night, and I progressed fast. I eventually bought my own guitar (a better one) and continued to get
        better.</p>
    <p>One year later, here I am, a solid intermediate guitar player. I'm even catching up to my friend Sam, who has
        been playing for eight years. Playing guitar is very important to me for a lot of reasons. It boosts my
        confidence, it's a great form of self-expression, and above all, it represents my willingness to do something I
        put my mind to.</p>
</div>
