@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Zach's Guitar World</h1>
    <p>Explore the fascinating world of guitars, famous guitarists, and more.</p>
    <img class="d-block w-100" src="https://media.guitarcenter.com/is/image/MMGS7/L72811000002000-00-600x600.jpg"
        alt="Guitar 1">
    <div>
        <h5>Epiphone Les Paul</h5>
        <p> Standard '50s Electric Guitar Heritage Cherry Sunburst</p>
    </div>

</div

@section Scripts {
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

}
