@{
    ViewBag.Title = "About Me";
}
<div class="text-center">
    <h2>About Me</h2>
    <p>
        Hi my name is Zachary Stenger. I'm 21 years old and I grew up in Shaker Heights, Ohio - a suburb of Cleveland.
        Growing up I was always really interested in computers and how they worked. I went to numorous coding camps as a
        kid and fell in love with coding. I'm a 4th year at the University of Cincinnati studying IT - Software
        Development. I also have a job as a Developer Intern for a company called Marcus Thomas LLC. They are an
        advertisement agency based in Cleveland. I work on mobile ap development for them using React Native and enjoy
        it very much. In my free time, I like to lift weights, play guitar, listen to music, play video games, and watch
        good tv/movies.</p>
</div>
